@import 'tokens.scss';

#faq {
  
  .list {
    display: grid;
    gap: 2rem;
    margin-top: 2.75rem;
    
    @include viewport(desktop) {
      grid-template-columns: 1fr 1fr;
    }
    
    .faq-item {
      position: relative;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 66.15%, rgba(255, 255, 255, 0) 100%);
      padding: 2rem;
      border-radius: 2rem;
      max-width: 32.69rem;
      height: fit-content;
      
      @include viewport(tablet-desktop) {
        margin-left: 7rem;
      }

      input {
        display: none;
      }

      label {
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        margin-bottom: 1rem;
        transition: color 0.25s;

        img {
          transform: rotate(-90deg);
          filter: saturate(0) brightness(2);
          transition: all 0.25s;
        }
      }

      .content {
        overflow: hidden;
        max-height: 0vh;
        transition: max-height 0.5s;
      }

    

      & > img {
        position: absolute;
        filter: saturate(0) brightness(2);
        left: -7rem;
        top: 0;
        transition: all 0.25s;
        display: none;

        @include viewport(tablet-desktop) {
          display: block;
        }
      }
      

      
      input:checked {
        & ~ label {
          color: $color-text-heading-fallback;
        }

        & ~ label img {
          filter: saturate(1);
          transform: rotate(0deg);
        }

        & ~ .content {
          max-height: 100vh;
        }

        & ~ img {
          filter: saturate(1);
        }
      }
    }
  }
}